{% extends "base_generic.html" %}
{% block content %}
<h1>Поздравляю вы заказали книгу</h1>
<h1>Название книги: {{ book.title }}</h1>
<p><strong>Жaнp:</strong> {{ book.genre }}</p>
<p><strong>Аннотация:</strong> {{ book.summary }}</p>
<p><strong>ISBN:</strong> {{ book.isbn }}</p>
<p><strong>Язык:</strong> {{ book.language }}</p>
    {% for author in book.author.all %}
    <p><strong>Aвтop:</strong>
        <a href="">{{ author.first_name }}
                   {{author.last_name}}</a></p>
    {% endfor %}
{% endblock  %}